body {
    background-color: #F90583;
}
section { 
    background-color: black;
    text-align: center;
    margin: 13pc 3pc 0 3pc;
    padding: 2pc 0 2pc 0;
    border-radius: 10px;
}
h2 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
button {
    border: none;
    outline: none;
    border: 2px solid black;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

button:hover {
    color: white;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.438);
    transition: .5s;
}